*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav{
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #1b1b1b;
  justify-content: space-between;
  padding: 0px 50px 0px 100px;
}
nav .logo h2{
  color: #fff;
  
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  display: none;
  cursor: pointer;
}

#click{
  display: none;
}

nav ul{
  display: flex;
  list-style: none;
}

nav ul li{
margin: 0px 5px;
}

nav ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  
  padding: 8px 10px;
  border-radius: 8px;
  transition: all 0.3s;
}
nav ul li a:hover,
nav ul li a.active{
  background-color: #fff;
  color: #1b1b1b;
}


@media ( max-width:940px) {
  nav .menu-btn i{
    display: block;
  }

  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: -10px;
    transition: all 0.5s ease;

  }

  #click:checked ~ ul{
    left:0%;
  }

  nav ul li{
    margin-top: 30px;
  }

nav ul li a{
  font-size: 20px;

}

}